\subsubsection{ \VAR{ segmentTypeShortDescription } segment at \VAR{ startDatetime } }

\label{segment_\VAR{ segmentId }} 
Segment Id : \VAR{ segmentId } \\
Leg Number: \VAR{ legNumber }\\
Type: \VAR{ segmentTypeShortDescription } \\
Original Stamp: \VAR{ origStartTimestamp } (\VAR{ origStartDatetime }) \\
Start: \VAR{ startDatetime } \\
End: \VAR{ endDatetime } \\
Duration: \VAR{ duration } s\\
Distance traveled: \VAR{ distance } m\\
Obstacle: \VAR{ obstacle } \\   
Lighting: \VAR{ lighting } \\
Slope: \VAR{ slope } \\
Weather: \VAR{ weather } \\
ITO reason: \VAR{ itoReason } \\
Notes: \VAR{ notes } \\
