\newpage

\subsection{Shift summary}

Shift: \VAR{ id }\\
Start: \VAR{ shiftStartDatetime }\\
End: \VAR{ shiftEndDatetime }\\
Test Director: \VAR{ director }\\
Test Admin: \VAR{ admin }\\
Robot Operator: \VAR{ operator }\\
Safety Officer: \VAR{ saftey }\\
Performer: \VAR{ performer }\\
Test intent: \VAR{ testIntent }\\
Vehicle: \VAR{ vehicle }\\
Note: \VAR{ note }
