\subsection{Auto/ITO statistics}

\begin{longtable}{lrrrrrr}
\toprule
Segment type & Count & Time [hh:mm:ss] & Distance [m] & Speed [m/s]  & Speed [km/h] & Speed [mi/h] \\
\midrule
\endhead
\multicolumn{4}{r}{\textit{(continued)}}\\
\bottomrule
\endfoot
\bottomrule
\endlastfoot


