\newpage

\subsection{Shift Summary}

Start: \VAR{ shiftStartDatetime } \\
End: \VAR{ shiftEndDatetime } \\
Shift: \VAR{ id }\\
Test Admin: \VAR{ admin }\\
Test Director: \VAR{ director }\\
Safety Officer: \VAR{ saftey }\\
Performer: \VAR{ performer }\\
Test intent: \VAR{ testIntent }\\
Note: \VAR{ note }\\
