/* @import '../../node_modules/material-design-icons/iconfont/material-icons.css'; */
@import "../../node_modules/material-icons/iconfont/material-icons.css";

* {
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
}

body > header {
  background: #009879;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

.header-icon {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  cursor: pointer;
}
.header-icon:hover {
  color: #3a6ddb;
}

.header-icon:active {
  color: #0e4acc;
}

section {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

input:invalid {
  box-shadow: 0 0 1px 1px red;
}

select:invalid {
  box-shadow: 0 0 1px 1px red;
  background-color: white;
}

input:focus:invalid {
  box-shadow: none;
}

select:focus:invalid {
  box-shadow: none;
}

.info-text {
  display: none;
  font-size: smaller;
  color: gray;
}

.styled-table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 30rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}
.styled-table tbody {
  display: block;
  max-height: 20rem;
  overflow: auto;
}
.styled-table tr {
  display: grid;
  grid-template-columns: 4rem 5rem 10rem 10rem;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.space-between-stripe {
  display: flex;
  justify-content: space-between;
}

.space-evenly-stripe {
  display: flex;
  justify-content: space-evenly;
}

.styled-button {
  color: white;
  background: #009879;
  border: 1px #016652 solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  box-shadow: inset 0 1px 0 #49c5ac;
}

.styled-button:hover {
  border: 1px #0d5f4f solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #279680;
  background: #107964;
}

.styled-button:active {
  box-shadow: inset 0 2px 5px #086452;
}

.styled-button:disabled,
.styled-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

.red-button {
  background: #980a00;
  border: 1px #660801 solid;
  box-shadow: inset 0 1px 0 #c55149;
}

.red-button:hover {
  border: 1px #5f130d solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #962e27;
  background: #791710;
}

.red-button:active {
  box-shadow: inset 0 2px 5px #640e08;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.connected {
  color: darkgreen;
}

.disconnected {
  color: darkred;
}
