@import "../../node_modules/leaflet/dist/leaflet.css";

#nav-bar {
  min-width: 34rem;
  justify-content: space-between;
}

.nav-right, .nav-center {
  display: flex;
}

.nav-center h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
  align-self: center;
}

.nav-right p {
  font-size: 1rem;
  text-align: right;
  align-self: center;
}

.header-icon {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  cursor: pointer;
}
.header-icon:hover {
  color: #3a6ddb;
}

.header-icon:active {
  color: #0e4acc;
}

.connected {
  color: darkgreen;
}

.disconnected {
  color: darkred;
}

.main-content {
  float: left;
}

.main-content > section {
  margin: 1rem;
}

#trail-selection {
  display: flex;
  width: 32rem;
}

#trail-selection .selectors {
  width: 80%;
}

#trail-selection .actioners {
  width: 20%;
}

#trail-selection form {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

#trail-selection form label {
  width: 6rem;
  text-align: right;
  padding: 0.2rem;
  font-weight: bold;
}

#trail-selection form label:after {
  content: ":";
}

#trail-selection form select {
  width: 4rem;
}

.open-log {
  background-color: rgba(0, 128, 0, 0.2);
}

.closed-log {
  background-color: rgba(255, 0, 0, 0.2);
}

.log-big-btn {
  /* margin-left: 3rem; */
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
}

#segment-detail {
  display: none;
  text-align: left;
}

#reasons-form {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}
#reasons-form button {
  width: 7rem;
}

.styled-table tbody tr:hover {
  background-color: #3dccaf;
}
.styled-table tbody tr.active-row {
  background-color: #6693f3;
  color: white;
  box-shadow: inset 2px 2px 10px #86acff;
}

#map-viewer {
  display: none;
  overflow: hidden;
  max-width: 50rem;
  margin: 1rem;
}

.map {
  display: none;
  position: relative;
  height: 35rem;
  margin: 1rem;
  /* overflow: hidden; */
}

.local-map-control {
  position: relative;
  z-index: 800;
}

@media screen and (max-width: 70rem) {
  #map-viewer {
    width: 32rem;
  }
  .map {
    height: 20rem;
  }
}
