@import "../../node_modules/leaflet/dist/leaflet.css";

#nav-bar {
  min-width: 34rem;
  justify-content: space-between;
}

.nav-right,
.nav-center {
  display: flex;
}

.nav-center h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
  align-self: center;
}

.nav-right p {
  font-size: 1rem;
  text-align: right;
  align-self: center;
}

.content-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.main-content {
  float: left;
  flex: 0 0 34rem;
}

.main-content > section {
  margin: 1rem;
  justify-content: space-around;
}

#trail-selection {
  display: flex;
  width: 32rem;
}

#trail-selection form {
  display: grid;
  grid-template-columns: 6rem 3rem 3rem 3rem 3rem 3rem;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

#trail-selection form > div {
  display: flex;
  align-items: center;
  justify-content: end;
}

#trail-selection form label {
  font-weight: bold;
  margin-right: 0.3rem;
}

.status-dot {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: black;
}

.status-green {
  background: green;
}

.status-red {
  background: indianred;
}

/* #trail-selection form label:after {
  content: ":";
} */

#trail-selection form select {
  width: 3rem;
}

.open-log {
  background-color: rgba(0, 128, 0, 0.2);
}

.closed-log {
  background-color: rgba(255, 0, 0, 0.2);
}

.log-big-btn {
  /* margin-left: 3rem; */
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
}

#segment-detail {
  display: none;
  text-align: left;
}

#reasons-form {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}
#reasons-form button {
  width: 7rem;
}

.styled-table tbody tr:hover {
  background-color: #3dccaf;
}
.styled-table tbody tr.active-row {
  background-color: #6693f3;
  color: white;
  box-shadow: inset 2px 2px 10px #86acff;
}

#map-viewer {
  display: none;
  flex: 1 1 0;
  min-width: 32rem;
  overflow: hidden;
  max-width: 100%;
  margin: 1rem;
}

.map {
  display: none;
  position: relative;
  height: 34rem;
  margin: 1rem;
  /* overflow: hidden; */
}

.local-map-control {
  position: relative;
  z-index: 800;
}

textarea.error {
  outline: 1px solid red;
}

@media screen and (max-width: 70rem) {
  .content-row {
    display: block;
  }
  #map-viewer {
    width: 32rem;
  }
  .map {
    height: 20rem !important;
  }
}

@media screen and (max-width: 40rem) {
  .nav-left .header-icon {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  #config-icon {
    margin-left: 0.5rem;
  }
}
