@import "../../node_modules/leaflet/dist/leaflet.css";

#nav-bar {
  min-width: 34rem;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

.nav-left i {
  font-size: 2rem;
  color: white;
  margin: 1rem;
}

.nav-center h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.nav-right p {
  font-size: 1rem;
  text-align: right;
  align-self: center;
}

.nav-right i {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  cursor: pointer;
}

.main-content {
  float: left;
}

.main-content > section {
  margin: 1rem;
}

.map {
  display: none;
  max-width: 50rem;
  height: 40rem;
  margin: 1rem;
}

#trail-selection {
  display: flex;
  width: 32rem;
}

#trail-selection .selectors {
  width: 80%;
}

#trail-selection .actioners {
  width: 20%;
}

#trail-selection form {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

#trail-selection form label {
  width: 6rem;
  text-align: right;
  padding: 0.2rem;
  font-weight: bold;
}

#trail-selection form label:after {
  content: ":";
}

#trail-selection form select {
  width: 4rem;
}

.open-log {
  background-color: rgba(0, 128, 0, 0.2);
}

.closed-log {
  background-color: rgba(255, 0, 0, 0.2);
}

#get-segments-btn {
  /* margin-left: 3rem; */
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
}

#segment-detail {
  display: none;
  text-align: left;
}

#reasons-form {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}
#reasons-form button {
  width: 7rem;
}

.styled-table tbody tr:hover {
  background-color: #3dccaf;
}
.styled-table tbody tr.active-row {
  background-color: #6693f3;
  color: white;
  box-shadow: inset 2px 2px 10px #86acff;
}

@media screen and (max-width: 70rem) {
  .map {
    width: 32rem;
    height: 25rem;
  }
}
